я.overlay {
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  border: 2px solid #000;
  box-shadow: 24px 24px 48px rgba(0, 0, 0, 0.12);
  padding: 16px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.confirmButton {
  background-color: #ff4d4d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirmButton:hover {
  background-color: #cc0000;
}

.cancelButton {
  background-color: #ccc;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancelButton:hover {
  background-color: #999;
}