/* Form styles */
.loginForm {
  max-width: 300px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.loginForm label {
  display: block;
  margin-bottom: 10px;
}

.loginForm input[type="email"],
.loginForm input[type="password"] {
      width: 90%;
    height: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

.loginForm input[type="email"]:focus,
.loginForm input[type="password"]:focus {
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.loginForm button[type="submit"] {
  width: 100%;
  height: 40px;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.loginForm button[type="submit"]:hover {
  background-color: #3e8e41;
}

.loginForm button[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Error message styles */
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}